webservice/RVaarWebService/RVaarWebServiceTestClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="Service1" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import namespace="http://tempuri.org/" />
            <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
            <xsd:import namespace="http://schemas.datacontract.org/2004/07/RVaarWebService" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IService1_GetData_InputMessage">
        <wsdl:part name="parameters" element="tns:GetData" />
    </wsdl:message>
    <wsdl:message name="IService1_GetData_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDataResponse" />
    </wsdl:message>
    <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
        <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
    </wsdl:message>
    <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
    </wsdl:message>
    <wsdl:message name="IService1_geefKruispunten_InputMessage">
        <wsdl:part name="parameters" element="tns:geefKruispunten" />
    </wsdl:message>
    <wsdl:message name="IService1_geefKruispunten_OutputMessage">
        <wsdl:part name="parameters" element="tns:geefKruispuntenResponse" />
    </wsdl:message>
    <wsdl:portType name="IService1">
        <wsdl:operation name="GetData">
            <wsdl:input message="tns:IService1_GetData_InputMessage"
                wsaw:Action="http://tempuri.org/IService1/GetData" />
            <wsdl:output message="tns:IService1_GetData_OutputMessage"
                wsaw:Action="http://tempuri.org/IService1/GetDataResponse" />
        </wsdl:operation>
        <wsdl:operation name="GetDataUsingDataContract">
            <wsdl:input message="tns:IService1_GetDataUsingDataContract_InputMessage"
                wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" />
            <wsdl:output message="tns:IService1_GetDataUsingDataContract_OutputMessage"
                wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" />
        </wsdl:operation>
        <wsdl:operation name="geefKruispunten">
            <wsdl:input message="tns:IService1_geefKruispunten_InputMessage"
                wsaw:Action="http://tempuri.org/IService1/geefKruispunten" />
            <wsdl:output message="tns:IService1_geefKruispunten_OutputMessage"
                wsaw:Action="http://tempuri.org/IService1/geefKruispuntenResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetData">
            <soap:operation style="document" soapAction="http://tempuri.org/IService1/GetData" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDataUsingDataContract">
            <soap:operation style="document"
                soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="geefKruispunten">
            <soap:operation style="document"
                soapAction="http://tempuri.org/IService1/geefKruispunten" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Service1">
        <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
            <soap:address
                location="http://localhost:8733/Design_Time_Addresses/RVaarWebService/Service1/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>